<!DOCTYPE html>
<html>
    <head>
        <title>
            Week-10
        </title>
    </head>
    <body>
        <div id="app">
        <header>
            
            <input type="text" v-model="firstName" placeholder="firstName">
            <input type="text" v-model="lastName" placeholder="lastName">
            <p>FullName:{{fullName}}</p>
            
        </header>
        <main>
            <input type="number" v-model="quantity" min="0">
            <p>Price per Item: {{priceperItem}}</p>
            <p>Total Price: {{totalPrice}}</p>
            <button @click="clearFields">Clear Fields</button>

        </main>
        <footer>

        </footer>
        </div>
        <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>
        <script src="scripts/app.js"></script>
    </body>
</html>